.artist {
    border: 1px solid rgb(209, 220, 228);
    border-radius: 5px;
    height: 8em;
    margin: 1em;
    padding-left: 0;
    padding-right: 0;
}

.artist-info {
    margin: 0.5em;
    height: 63%;
}

.artist-title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40%;
    display: block;
    line-height: 1em;
    max-height: 1em;
}

.artist-description {
    text-align: justify;
    font-size: 0.8em;
}

.artist-link {
    height: 25%;
    width: 100%;
    border-top: 1px solid rgb(209, 220, 228);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.artist-link > a {
    text-decoration: none;
}

.artist-link:hover > a, .artist-link:focus-within > a {
    text-decoration: none;
    color: aliceblue;
}

.artist-link:hover, .artist-link:focus-within {
    background-color: #3d444b;
}

.top-links > div > a {
    width: 100%;
}


.tool-img {
    height: 100%;
    width: 100%;
}