<div>
    <div class="row artist-row">
        <div class="main-cover">
            <img src="{{ artist.cover.url }}" alt="artist cover image">
        </div>

        <hr>

        <div class="col-md-4">
            <ul class="artist-info">
                <li>
                    <span class="title">Name</span><br>
                    <span class="value">{{ artist.name }}</span>
                </li>
                <hr>
                <li>
                    <span class="title">Nicknames</span><br>
                    <span class="value">
                        {% if artist.nicknames %}
                            <ul>
                                {% for n in artist.all_nicknames %}
                                    <li>{{ n}}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No nicknames
                        {% endif %}
                    </span>
                </li>
                <hr>
                <li>
                    <span class="title">Type</span><br>
                    <span class="value">{{ artist.a_type }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="x-title">Artist Bio</h3>
            {% if artist.bio %}
                <pre class="x-p alert alert-info">{{ artist.bio }}</pre>
            {% else %}
                <p>No bio yet</p>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ artist.avi.url }}" alt="{{ artist.name }}'s avi" class="artist-avi">
        </div>
    </div>

    <hr>

    <div>
        <h3 class="text-center x-title">Actions</h3>
        {% if artist.is_group %}
            <form id="group-members-edit" action="{% url 'staff:group-members' artist_id=artist.pk %}" method="post" class="alert alert-info">
                <h4>Add Group members</h4>
                
                {% csrf_token %}
                {% include 'staff/select_artists.html' with c_artists=artist.group_members to='group' modal_title="Group Artists" %}

                <div class="form-group">
                    <br>
                    <button class="btn btn-outline-dark" type="submit">save group members</button>    
                </div>
            </form>
        {% endif %}
        <br>
        <div class="row actions">
            <div class="col-md-4">
                <a href="{% url 'staff:manage-artists' %}" class="btn btn-outline-dark">All artists</a>
            </div>
            <div class="col-md-4">
                <a href="" class="btn btn-outline-dark">Edit {{ artist.name }}</a>
            </div>
            <div class="col-md-4">
                <a href="" class="btn btn-outline-danger">Delete {{ artist.name }}</a>
            </div>
        </div>
    </div>
    
    
</div>