#search-email {
    width: 35%;
    margin: auto;
    margin-top: 2em;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.61);
}

#search-email > form > div{
    margin: 1em;
}

#ud {
    border-right: 1px solid violet;
}


.tab-nav {
    cursor: pointer;
}

.group-tab {
    display: none;
}

.group-tab-active {
    display: block;
}
