img.album-info-cover-img {
    width: 50%;
}

.songs {
    padding-left: 2em;
    
}

.song {
    color: #212529;
    border: 1px solid #b0ced4;
    min-height: 2.5em;
    height: fit-content;
    margin-bottom: 0.25em;
    border-radius: 3px;
}

.song > span, .song > a {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.disc-name-form {
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
}