#article-sections-nav {
    border: 1px solid #babec2;
    margin-left: -5em;
    margin-bottom: 2em;
}

#article-sections-nav .dropdown-menu {
    background-color: rgb(194, 191, 197);
    width: 300%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#article-sections-nav .dropdown-menu > .dropdown-item {
    transition-duration: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1em;
    padding-bottom: 1em;
}

#article-sections-nav .dropdown-menu > .dropdown-item:hover {
    background-color: rgb(229, 227, 231);
}

.stupid-divider {
    margin: 0;
}

#article-top h1::before, #article-top h2::before, #article-top h3::before, #article-top h4::before, #article-top h5::before, #article-top h6::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0 0;
}