.action {
    border: 1px solid rgb(209, 220, 228);
    border-radius: 5px;
    height: 8em;
    margin: 1em;
    padding-left: 0;
    padding-right: 0;
}

.action-info {
    margin: 0.5em;
    height: 63%;
}

.action-title {
    text-align: center;
}

.action-description {
    text-align: justify;
    font-size: 0.8em;
}

.action-link {
    height: 25%;
    width: 100%;
    border-top: 1px solid rgb(209, 220, 228);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.action-link > a {
    text-decoration: none;
}

.action-link:hover > a, .action-link:focus-within > a {
    text-decoration: none;
    color: aliceblue;
}

.action-link:hover, .action-link:focus-within {
    background-color: #3d444b;
}