* {
    font-family: 'Google Sans', 'Lucida Sans', sans-serif;
}

html {
    font-size: 14px;
}

body {
    overflow-x: hidden;
}

#navbar-title {
    color: aliceblue;
    font-size: 2em;
    width: 20%;
    text-align: center;
}

#navbar-title > #top-name {
    font-size: 1em;
}

#navbar-title > #bottom-name {
    font-size: 0.5em;
}

#main {
    padding-top: 1em;
}

.skimmy-border {
    border: 1px solid violet;
    border-radius: 5px;
    padding: 0.75em;
}

.x-small {
    font-size: 0.8em;
    font-weight: lighter;
}

.notes {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: normal;
}

.fear-line {
    margin: 2em;
}