{% extends 'staff/staff_base.html' %}
{% load staticfiles %}
{% load music_filter %}

{% block title %}Manage {% if album %}{{ album }}{% else %}albums{% endif %}{% endblock title %}

{% block staff %}active{% endblock staff %}

{% block search_action %}{% url 'staff:manage-albums' %}{% endblock search_action %}

{% block search_placeholder %}album by title or artists{% endblock search_placeholder %}

{% block style %}{% if album_id %}<link rel="stylesheet" href="{% static 'staff/css/album_info.css' %}" type="text/css">{% else %}<link rel="stylesheet" href="{% static 'staff/css/albums.css' %}" type="text/css">{% endif %}{% endblock style %}

{% block content %}


    {% if album_id %}
    {% comment %} Single Album {% endcomment %}

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="alert alert-info">
                    <img src="{{ album.cover.url }}" alt="{{ album.title }}'s cover" class="album-info-cover-img">
                    <h2>{{ album.title }} ({{ album.date_of_release.year }})</h2>
                    <h5>by {% for artist in album.artists.all %}{% if forloop.counter > 1 %}, {% endif %} <a href="" target="_blank" rel="noopener noreferrer">{{ artist.name }}</a>{% endfor %} </h5>
                    <p>Released <strong>{{ album.date_of_release|full_release }} ({{ album.date_of_release|release_date_to }})</strong></p>
                    <hr>
                    <ul class="list-unstyled">
                        <li>Album Type: <strong>{{ album.album_type }}</strong></li>
                        <li>Artists Display Name: <strong>{{ album.artists|album_artists }}</strong></li>
                        <li>Genre: <strong>{{ album.genre.title }}</strong></li>
                        <li>Likes: <strong>{{ album.likes }}</strong></li>
                        <li>Copyright: <strong><pre>{{ album.copyright }}</pre></strong></li>
                    </ul>
                    <a href="{% url 'staff:manage-albums' %}" class="btn btn-outline-dark">All albums</a>
                    <a href="{% url 'staff:album-edit' album.pk %}" class="btn btn-outline-secondary">Edit '{{ album.title }}'</a>
                </div>

                {% if album.published %}
                    <div class="alert alert-danger text-center">
                        <h4>"{{ album.title }}" is  published</h4>
                        <form action="{% url 'staff:album-publish-status' album.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="un-publish" value="1">
                            <button type="submit" class="btn btn-outline-danger">Un publish '{{ album.title }}'</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="alert alert-primary text-center">
                        <h4>"{{ album.title }}" is <strong>NOT</strong> published</h4>
                        <form action="{% url 'staff:album-publish-status' album.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="publish" value="1">
                            <button type="submit" class="btn btn-outline-danger">Publish '{{ album.title }}'</button>
                        </form>
                    </div>
                {% endif %}
                <div class="alert alert-danger text-center">
                    <h4>Once "{{ album.title }}" is deleted it can not be recovered.</h4>
                        <a href="{% url 'staff:album-delete' album_pk=album.pk %}" class="btn btn-outline-danger">Delete '{{ album.title }}'</a>
                </div>
            </div>

            <div class="col-md-8 songs">
                {% if album.notes %}
                    <pre class="alert alert-info notes">{{ album.notes }}</pre>
                    <hr>
                {% endif %}
                <div>
                    {% for disc in album.disc_set.all %}
                        <h4>{{ disc.name }}</h4>
                        <ul class="list-unstyled">
                            {% for song in disc.song_set.all %}
                                <li class="song row">
                                    <span class="col-md-1">{{ song.track_no }}.</span>
                                    <span class="col-md-6">{{ song.title }}</span>
                                    <span class="col-md-2">{{ song.length_string }}</span>
                                    {% if song.additional_artists.count > 0 %}
                                        <span class="col-md-3">{{ song.song_artists|album_artists:0 }}</span>
                                    {% else %}
                                        <span class="col-md-3">{{ song.genre.title }}</span>
                                    {% endif %}
                                </li>
                            {% empty %}
                                <h5>No songs available</h5>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    {% else %}
    {% comment %} All albums {% endcomment %}
        <div class="container">
            {% if albums %}
                <div class="row top-links">
                    <h4 class="col-md-2">
                        {% if album_type == 'LP' %}Albums{% else %}{% if album_type == 'S' %}Singles{% else %}{% if album_type == 'EP' %}Extended Plays{% else %}All Records{% endif %}{% endif %}{% endif %} available
                    </h4>
                    <div class="col-md-2">
                        <a href="{% url 'staff:album-create' %}" class="btn btn-outline-primary">New Album</a>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'staff:manage-albums' %}?t=S" class="btn btn-outline-dark">Singles</a>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'staff:manage-albums' %}?t=EP" class="btn btn-outline-dark">EPs</a>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'staff:manage-albums' %}?t=LP" class="btn btn-outline-dark">Albums</a>
                    </div>
                    
                    {% if album_type or q %}
                    <div class="col-md-2">
                        <a href="{% url 'staff:manage-albums' %}" class="btn btn-outline-primary">All</a>
                    </div>
                    {% endif %}
                </div>
                <script type="text/javascript">
                    function clickLink(linkId) {
                        document.getElementById(linkId).click()
                    }
                </script>
                <div class="row">
                    {% for l_album in albums %}
                        <div class="album col-md-2">
                            <div class="album-info">
                                <h5 class="album-title" data-bs-toggle="tooltip" title="{{ l_album.title }} • {{ l_album.date_of_release.year }}">{{ l_album.title }}</h5>
                                <p class="album-description" {% if l_album.artists.count > 4 %}data-bs-toggle="tooltip" title="{{ l_album.artists|album_artists_string }}"{% endif %}>
                                    from {{ l_album.artists|album_artists }}
                                    |
                                    <strong>{{ l_album.date_of_release.year }}</strong>
                                </p>
                            </div>
                            <div class="album-link" onclick="clickLink('{{ l_album.pk }}-link')" aria-label="manage {{ l_album.title }}">
                                <a id="{{ l_album.pk }}-link" href="{% url 'staff:manage-albums' %}?album-id={{ l_album.pk }}">manage</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <h2>no albums available</h2>
                    <a href="" class="btn btn-outline-dark">Add New</a>
                    <a href="{% url 'staff:manage-albums' %}" class="btn btn-outline-primary">All albums</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}