{% extends 'staff/staff_base.html' %}
{% load static %}

{% block title %}Help{% endblock title %}

{% block help %}active{% endblock help %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'staff/css/help_detail.css' %}" />{% endblock style %}


{% block content %}
    <div class="container">
        <h1>{{ article.title }}</h1>

        <p>This article tries to explain:</p>
        <p>{{ article.description }}</p>
        <hr>
        <p id="help-article">
            <nav class="navbar sticky-top navbar-dark bg-dark" id="article-sections-nav">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>{{ article.title }} sections</strong>
                    </a>
            
                    <ul id="article-nav-drop-down" class="dropdown-menu" aria-labelledby="dropdownMenuLink">Loading...</ul>
                </div>

                <span class="navbar-text">
                    {% if perms.staff.change_helparticle and perms.staff.delete_helparticle %}
                        <a href="{% url 'staff:help-edit' article.pk %}"><button class="btn btn-outline-primary">Edit '{{ article.title }}'</button></a>
                        <span style="width: 10px;"></span>
                        <a href="{% url 'staff:help-delete' article.pk %}"><button class="btn btn-outline-danger">Delete '{{ article.title }}'</button></a>
                        <button style="visibility: hidden;" class="btn btn-outline-danger">Delete '{{ article.title }}'</button>
                    {% endif %}
                </span>
            </nav>
            
            <div id="article-top" class="js-article">
                <div class="text-center">
                    <img src="{% static 'imgs/200.gif' %}">
                </div>
                <input type="hidden" id="js-article-content" value="{{ article.help_text }}">
            </div>
        </p>
    </div>

{% endblock content %}

{% block bottomScript %}
<script src="{% static 'staff/js/marked.min.js' %}"></script>
<script src="{% static 'staff/js/articleSection.js' %}"></script>
<script src="{% static 'staff/js/article.js' %}"></script>
{% endblock bottomScript %}