<!DOCTYPE html>
{% load static %}
<html>
    <head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title> {% block title %}{% endblock title %} - tyne music staff and moderation site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#f8f9fa">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'staff/css/staff_base.css' %}" />
		{% block style %}{% endblock style %}
		{% block topScript %}{% endblock topScript %}
    </head>
    <body>
        <nav id="navbar"  class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <h1 id="navbar-title">
                    <span id="top-name">tyne music</span><br />
                    <span id="bottom-name">adminstration</span>
                </h1>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainLinks" aria-controls="mainLinks" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainLinks">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% block home %}{% endblock home %}" aria-current="page" href="{% url 'staff:home' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Listen</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block staff %}{% endblock staff %}" aria-current="page" href="" diabled>Staff</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Account</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block help %}{% endblock help %}" aria-current="page" href="{% url 'staff:help-list' %}">Help</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block si_as %}{% endblock si_as %}" aria-current="page" href="{% url 'staff:staff-view' %}?staff-id={{ user.pk }}">Signed in as {{ user.username }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'master-logout' %}">Sign Out</a>
                        </li>
                    </ul>

                    <form method="GET" action="{% block search_action %}{% endblock search_action %}" class="row" autocomplete="off">
                        <div class="col-md-7">
                            <input class="form-control" type="search" name="q" value="{{ q }}" placeholder="Search {% block search_placeholder %}{% endblock search_placeholder %}" aria-label="Search" required >
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        {% if messages %}
            {% for message in messages %}                    
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

		<div id="main">
			{% block content %}{% endblock content %}
		</div>

		<footer style="margin-top: 10em;">

		</footer>

		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'staff/js/staff_base.js' %}"></script>
		{% block bottomScript %}{% endblock bottomScript %}
    </body>
</html>